@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --background-color: #ffffff;
  --text-color: #111111;
  --accent-color: #00ff00;
  --accent-color-darker: #00cc00;
  --container-bg-color: #f0f2f5;
  --border-color: #e0e0e0;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
