# Node.js
node_modules/
dist/
build/
.env

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.yarn/

# IDEs and other tools
.vscode/
.idea/
*.iml
.DS_Store
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates

# Misc
*.swp
*.bak
*.swo
